.footer_menu_item {
    float: left;
    margin-right: 250px;
    margin-top: 20px;
}

.footer {
    background-color: #acb0e6;

    color: #fff;
}
.footer_menu_bottom {
    float: left;
    margin-right: 250px;
    margin-top: 20px;
}
