.body_payment {
    margin: 0 auto;
}
.title_payment {
    text-align: center;
}
.info_customer_payment {
    text-align: center;
    margin-left: 400px;
    width: 300px;
}
.body_card_payment {
    float: left;
    text-align: center;
}
.bx-map {
    font-size: 1.5rem;
}
.title_body_card_payment {
    margin-left: 180px;
}
.info_product_payment {
    float: right;
    margin-right: 780px;

    margin-top: 30px;
}
span .voucher_payment_select {
    float: left;
}
.voucher_payment {
    width: 300px;
}
.product_payment_img {
    margin-bottom: 10px;
}
#voucher_payment_float {
    float: right;
}

.selectship_payment,
.selectpay_payment {
    margin-top: 30px;
    margin-left: 100px;
}
#bg-vertical-dropdown-2 {
    float: left;
}
.payment_btn {
    margin-left: 600px;
    margin-top: 30px;
}
